@using PawsAndEars.Models;
@model IEnumerable<Dog>

@{
    ViewBag.Title = "All Dogs";
}

<h2>Ваши собаки </h2>
<h2>@Html.ActionLink("Посмотреть расписание", "ByDate", "Schedule", null, new { @class = "nav-link nav-link-new" })</h2>
<ul class="list-group">
    @{

        foreach (Dog dog in Model)
        {
            <li class="list-group-item">
                    <div class="row">
                        <div class="col-xl-3"><h4>@dog.Name</h4></div>
                        <div class="col-xl-2">@dog.Weight</div>
                        <div class="col-xl-2">@dog.Length</div>
                        <div class="col-xl-2">@dog.Age</div>
                        <div class="col-xl-3"></div>

                    </div>
            </li>
        }
    }
</ul>
@{ 
    <div>
        @Html.ActionLink("Add dog", "Add", "Dogs")
    </div>
}


